body {
	margin: 0;
	font-family: Rockwell, Arial;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #1b9aa1;
	overflow: hidden;
}


.navbar-links {
	display: inline;
}

.navitem {
	float: right;
	display: block;
	padding: 20px 25px;
}

.navlogo {
	float: left;
}

.nav-link-list {
	list-style: none;
}

.navlink {
	text-decoration: none;
	color: white;
}

.navitem:hover {
  	background-color: #1b5740;
}

#logo {
	float: left;
}

.main {
	margin-top: 10px;
	display: flex;
	height: auto;
	width: auto;
}

.site-info-section {
	flex: 0 0 45%;
	text-align: center;
}

.site-info {
	margin: 0 0 0 10%;
}

.login-section {
	flex: 0 0 40%;
	margin: 30px 0 0 100px;
	padding: 20px 50px;
}

#landing-image {
	width: 75%;
}

.form-input {
  	width: 100%;
	padding: 12px 10px;
	margin: 10px 10px 20px 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.mini-form {
	border-radius: 5px;
	background-color: #cce0df;
	padding: 30px;
	margin: 0% 10% 0% 10%
}

.form-title {
	text-align: center;
}

.form-select {
	padding: 12px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;

}

.register-link {
	text-align: center;
	margin-top: 30px;
}

.register-form {
	border-radius: 5px;
  	background-color: #cce0df;
  	padding: 20px;
  	margin: 20px 200px;
}

button, .link-button {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1b5740;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	cursor: pointer;
}

.alert {
	color: red;
}

.register-status {
	text-align: center;
	margin-top: 100px;
	font-size: 150%;
}

#welcome, #previous-entries {
	text-align: center;
}

#diary-section {
	display: inline-block;
	width: 40%;
	margin: 0 4% 0 5%;
}

#food-search, #date-search {
	display: inline-block;
	width: 40%;
	margin: 0 5% 0 4%;
}

#search-button {
	display: inline-block;
}

.entry {
	margin: 2% 10%;
	padding: 2% 15%;
	border: 1px solid grey;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #428779;
}

.entry-date {
	text-align: center;
}

.meal-type {
	padding: 5px;
	border-bottom: 1px solid black;
}

th, tr, td {
	text-align: center;
	width: 150px;
	padding: 5px;
}

.search-results {
	display: inline-block;
	width: 40%;
	padding: 0 5%;
	overflow: auto;
}

.food-submit {
	display: inline-block;
	width: 35%;
	padding: 5%;
}

.recipe-main {
	display: flex;
}

.recipe-list {
	flex: 0 0 300px;
	padding: 10px 20px;
	text-align: center;
}

.recipe-details-section {
	flex-grow: 3;
	padding: 20px;
}

.recipe-details {
	border: 1px solid black;
	border-radius: 20px;
	padding: 20px;
	margin-right: 20px;
}

.recipe-button {
	color: #1b5740;
	background-color: white;
	border: 1px solid #1b5740;
	border-radius: 10px;
}

.recipe-button:hover {
	box-shadow: 5px 5px 15px #888888;
}

#top-details {
	display: flex;
}

#recipe-pic-section {
	flex: 0 0 300px;
}

#recipe-intro {
	text-align: center;
	padding: 0 100px;
}

.intro-pic {
	height: 300px;
}

.recipe-name {
	padding: 10px;
	border-bottom: 2px solid black;
}

#recipe-pic {
	max-height: 300px;
	max-width: 400px;
	margin: 50px 20px 20px 100px;
	border-radius: 15px;
}

ol>li {
	padding: 10px;
}

.details {
	margin-top: 10px;
}


.progess-bar-section {
	padding: 20px;
	text-align: center;
}

#progress-bar {
	border: 1px solid black;
	height: 20px;
	border-radius: 30px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 30px;
}

#progress {
	background-color: #22c1c9;
	border-radius: 30px;
	height: 20px;
	margin-bottom: 15px;
	max-width: 100%;
}

#progress-percent {
	margin-left: 10px;
}

.goal-main {
	display: flex;
}

.user-info {
	flex: 0 0 45%;
	margin-left: auto;
	margin-right: auto;
}

.edit-info {
	flex: 0 0 45%;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.info-display {
	border: 1px solid black;
	border-radius: 30px;
	margin: 30px;
	padding: 30px;

}

.info-display > h2 {
	margin-bottom: 30px;
	padding-bottom: 10px;
	text-align: center;
	border-bottom: 1px solid grey;
}

.info-display > div {
	margin-bottom: 30px;
}

.exercise-form {
	width: 500px;
	border-radius: 5px;
	background-color: #cce0df;
	padding: 30px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}