body {
	margin: 0;
	font-family: Rockwell, Arial;
}

.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #1b9aa1;
	overflow: hidden;
}


.navbar-links {
	display: inline;
}

.navitem {
	float: right;
	display: block;
	padding: 20px 25px;
}

.navlink {
	text-decoration: none;
	color: white;
}

.navitem:hover {
  	background-color: #1b5740;
}

#logo {
	float: left;
}

.main {
	margin-top: 10px;
	display: block;
	height: auto;
	width: auto;
}

.site-info {
	display: inline-block;
	width: 40%;
	height: 100%;
	margin: 0% 4%;
	align-items: center;
}

.login-section {
	display: inline-block;
	width: 40%;
	height: 100%;
	margin: 0% 4%;
}

#landing-image {
	width: 75%;
}

.form-input {
  	width: 100%;
	padding: 12px 10px;
	margin: 10px 10px 20px 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.mini-form {
	border-radius: 5px;
  	background-color: #cce0df;
  	padding: 30px;
  	margin: 0%, 10%;
}

.register-form {
	border-radius: 5px;
  	background-color: #cce0df;
  	padding: 20px;
  	margin: 20px 200px;
}

button {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #1b5740;
  	border: none;
  	color: white;
  	padding: 15px 32px;
  	text-align: center;
  	cursor: pointer;
}

.alert {
	color: red;
}

#welcome {
	text-align: center;
}

#diary-section {
	display: inline-block;
	width: 40%;
	margin: 0 4% 0 5%;
}

#food-search {
	display: inline-block;
	width: 40%;
	margin: 0 5% 0 4%;
}

#search-button {
	display: inline-block;
}

.entry {
	margin: 2% 10%;
	padding: 2% 15%;
	border: 1px solid grey;
	border-radius: 15px;
	box-shadow: 10px 10px 10px #428779;
}

.entry-date {
	text-align: center;
}

.meal-type {
	padding: 5px;
	border-bottom: 1px solid black;
}

th, tr, td {
	text-align: center;
	width: 150px;
	padding: 5px;
}

.search-results {
	display: inline-block;
	width: 40%;
	padding: 0 5%;
	overflow: auto;
}

.food-submit {
	display: inline-block;
	width: 35%;
	padding: 5%;
}

.card {
 	background-color: #fff;
 	border: 1px solid black;
 	border-radius: 10px;
 	position: relative;
}

.card:hover {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}